/* @font-face {
  font-family: Inter;
  src: url(assets/Inter-VariableFont_slnt\wght.ttf);
  font-weight: 400;
} */

:root {
  --color-black: #000000;
  --color-grey: #303030;
  --color-white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 2.8rem;
  line-height: 2.8rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-white);
  position: relative;
  overflow: hidden;
}

body::after {
  content: "";
  position: absolute;
  top: 50%;
  /* left: -10px;
  right: -10px;
  bottom: -10px; */
  /* filter: blur(10px); */
  left: var(--after-left, 10);
  right: var(--after-right, 10);
  bottom: var(--after-bottom, 10);
  filter: var(--after-filter, none);
  background-image: inherit;
  background-size: cover;
  background-position: center;
  z-index: -1;
  transition: left 0.5s ease, filter 0.5s ease, right 0.5s ease,
    bottom 0.5s ease;
}

h1 {
  font-weight: bold;
  font-size: 20rem;
  line-height: 20rem;
  letter-spacing: 5px;
}

h2 {
  font-weight: bold;
  font-size: 5.6rem;
  line-height: 6.8rem;
  text-transform: uppercase;
}

h3 {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.8rem;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

h4 {
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 400;
}

h6 {
  color: var(--color-grey);
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 2.8rem;
  letter-spacing: 3px;
  font-weight: 600;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: inherit;
  padding: 10rem 25rem;
}

.main__quote {
  display: flex;
  width: 60%;
}

.main__quote__text {
}

.main__quote__icon {
  width: 2.4rem;
  height: 2.4rem;
  filter: invert(100%);
  margin-top: 1rem;
  margin-left: 1.5rem;

  cursor: pointer;
}

.quote {
  display: flex;
  flex-direction: column;
}

.main__quote__author {
  margin-top: 1.5rem;
  font-weight: bold;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info__more {
  align-self: flex-end;
}

.info__more__button {
  background-color: var(--color-white);
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 50rem;
  display: flex;
  cursor: pointer;
}

/* Styles appliqués au bouton ou au conteneur de l'image */
.info__more__button__icon {
  background-color: var(--color-grey);
  border-radius: 50rem;
  padding: 0.25rem;
  margin-left: 0.5rem;

  transition: all 0.2s;
}

.info__more__button:hover .info__more__button__icon {
  opacity: 0.65;
}

.expand {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10rem;
  background-color: rgba(255, 255, 255, 0.65);
  padding: 10rem 15rem;
  color: var(--color-black);
  z-index: 10;
}

.hidden {
  display: none;
}
